<div (window:keydown.alt.s)="show=!show">
  <div *ngIf="show">
    <md-toolbar color="primary" class="app-navbar">
      <button md-button md-ripple routerLink="/">
        <span>Bewertung Application</span>
      </button>

      <button md-button md-ripple (click)="show=!show">
        Verstecken
      </button>
      <div class="right">
        <button routerLink="/creatUsers" *ngIf="isSuperUser() && hasSignedIn()" md-button md-ripple>
          Benutzer erstellen
        </button>
        <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
          Login
        </button>
        <button class="greeting-button" routerLink="/admin" *ngIf="hasSignedIn()" md-button md-ripple>
          {{userName()}}
        </button>
        <button *ngIf="hasSignedIn()" (click)="logout()" md-button md-ripple>
          Logout
        </button>
      </div>
    </md-toolbar>
  </div>
  <div>
