
  <div *ngIf="show">
    <md-toolbar color="primary" class="app-navbar">
      <button md-button md-ripple routerLink="/home">
        <span>Bewertung Application</span>
      </button>

      <button md-button md-ripple (click)="show=!show">
        <div mdTooltip="Klicken Sie ALT+S zu Anzeigen ">Verstecken</div>
      </button>
      <div class="right">
        
        <button *ngIf="!hasSignedIn()" routerLink="/login" md-button md-ripple>
          Anmelden
        </button>

        
        <button *ngIf="hasSignedIn()" routerLink="/helpe" md-button md-ripple>
          Hilfe
        </button>
        
        <button md-button [mdMenuTriggerFor]="Erstellung" *ngIf="hasSignedIn()">Erstellung</button>
        <md-menu #Erstellung="mdMenu">
          <button routerLink="/admin" *ngIf="hasSignedIn()" md-menu-item>Bewertungen</button>
          <button routerLink="/creatUsers" *ngIf="isSuperUser() && hasSignedIn()" md-menu-item>Benutzeren</button>
        </md-menu>



        <button md-button [mdMenuTriggerFor]="menu" *ngIf="hasSignedIn()">{{userName()}}</button>
        <md-menu #menu="mdMenu">
          <button md-menu-item (click)="logout()">Abmelden</button>
        </md-menu>
      </div>
    </md-toolbar>
  </div>

