<div class="content" fxLayout="row" fxLayoutWrap fxLayoutAlign="center">

  <md-card fxFlex="nogrow">
    <md-card-title>Shortkey </md-card-title>

    <md-list>
      <md-list-item>ALT + S : Verstecke die Werkzeugleiste </md-list-item>
      <md-list-item>ALT + R : Neue Bewertung erstellen</md-list-item>
      <md-list-item>ALT + U : Neue Benutzer erstellen</md-list-item>
      <md-list-item>ALT + A : Offene Bewertungen Seite</md-list-item>
      <md-list-item>ALT + H : Hilfe </md-list-item>

    </md-list>

  </md-card>
</div>
