.rating-page-main {
  width: 100%;
  height: 100%;
  text-align: center;

  margin: 0 auto;

}

.title {
  font-size: 50px;
}

@media screen and (min-width: 681px) {
  img {
  position: absolute;
  
  max-width: 19.5%;
  // height: auto;
  // width: auto\\9;

  /* ie8 */
}

  .emoghTable {
    position: absolute;
    top: 40%;
    left: 41%;
    // margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .title {
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

table {
  border-collapse: collapse;
  width: 90%
}

@media screen and (max-width: 680px) {

  img {

  height: auto;
  width: auto;

  /* ie8 */
}

  table {
    display: block;
  }
  td {
    display: block;
    padding: 5px 0;
    border: none;
  }
  td img {
    display: block;
    margin: 0;
    width: 100%;
    max-width: none;
  }
}
.full-width {
  width: 100%;
  
}


.index999{
  z-index: 99;
}

.endPic {
       position: absolute;
    top: 20px;
    right: 20px;
}
.startPic{
     position: relative;
    top: 20px;
    left: 20px;
  }