<div class="content" fxLayout="row" fxLayoutAlign="center">

  <md-card>

    <md-card-title>
      <h2>Benutzer</h2>
    </md-card-title>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" #createUserForm="ngForm">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-input-container class="full-width">
              <input mdInput formControlName="firstname" placeholder="Vor Name" >
            </md-input-container>
          </td>
          <td>
            <md-input-container class="full-width">
              <input mdInput formControlName="lastname"  placeholder="Nach Name">
            </md-input-container>
          </td>
          <td class="width-15">
          </td>
        </tr>
      </table>     
      <p>
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <md-input-container class="full-width" >
                <input mdInput formControlName="username"  placeholder="Benutzer">
                <md-hint align="start" style="color:brown" *ngIf="_anotherUsername"><strong>Wählen Sie einen aktuellen Benutzer </strong> </md-hint>
              </md-input-container>
            </td>
            <td>
              <md-input-container class="full-width">
                <input mdInput formControlName="password" placeholder="Passwort" type="password">
              </md-input-container>
            </td>
            <td class="width-15">

            </td>
          </tr>
        </table>
        <p>
          <table class="full-width" cellspacing="0">
            <tr>
              <td>
                <md-input-container class="full-width">
                  <input mdInput formControlName="email" placeholder="Email" >
                </md-input-container>
              </td>
            </tr>
          </table>
          <p>
            <table class="full-width" cellspacing="0">
              <tr>
                <td class="width-50">
                  <div *ngIf="Active.checked">Aktiv</div>
                  <div *ngIf="!Active.checked">Deaktiviert</div>
                  <p>
                    <md-slide-toggle formControlName="active" #Active>

                    </md-slide-toggle>
                </td>
                <td class="width-50">
                  <div *ngIf="Admin.checked">Admin</div>
                  <div *ngIf="!Admin.checked">User</div>
                  <p>
                    <md-slide-toggle formControlName="isadmin" #Admin></md-slide-toggle>
                </td>
              </tr>
            </table>
            <p>
              <button class="full-width" type="submit" [disabled]="!createUserForm.form.valid" md-raised-button color="primary">Aktualisieren</button>
    </form>
  </md-card>
  
  <md-card *ngIf="!admin">

    <md-card-title>
      <h2>Bewertungen</h2>
    </md-card-title>
    <table class="full-width" cellspacing="0">
      <tr *ngFor="let rat of selfRatings">
        <td>
          <md-input-container class="full-width">
            <input mdInput value="{{rat.ratingName}}" disabled>
          </md-input-container>
        </td>
        <td>
          <a class="full-width" md-raised-button color="primary" (click)="dleteUserRating(rat)">löschen</a>
        </td>
      </tr>
    </table>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Bewertung" [(ngModel)]="selectedValue" #NewUserRating [mdAutocomplete]="auto" [formControl]="stateCtrl">
          </md-input-container>
          <md-autocomplete #auto="mdAutocomplete" >
            <md-option *ngFor="let state of filteredStates | async" [value]="state">
              {{ state }}
            </md-option>
          </md-autocomplete>
        </td>
        <td>
          <button class="full-width" md-raised-button color="primary" (click)="preAddUserRating(NewUserRating.value)">Hinzufügen</button>

        </td>

      </tr>
    </table>
    <p>


  </md-card>
</div>
